.customers-wrap {
  margin-bottom: 90px;
  text-align: center;
}
.customers-wrap::after {
  content: '';
  display: table;
  clear: both;
}
.customers-block {
  display: inline-block;
  width: 20%;
  margin: 20px;
  float: left;
}
.customers-img {
  width: 261px;
  height: 261px;
  margin-bottom: 25px;
  float: left; 
}
.title__top{
width: 383px;
height: 28px;
color: #333333;
font-family: Tahoma;
font-size: 30px;
padding-bottom: 50px;
padding-top:50px;
display: inline-block;
text-align: center;
margin-left: 38%;

}
