*{
  box-sizing: border-box;
}
.box{
  display: inline-block;
  width: 400px;
  height: 200px;
  background-color: white;
  padding: 10px 20px;
  border-color: black;
  border-width: 4px;
  border-style: solid;
  margin-left: 25%;
}
.box2{
  display: inline-block;
  width: 200px; height: 100px;
  padding: 10px 20px;
float:left;

}
img{
  margin:auto;
  float:right
}
