.text {
  color: hsl(214, 90%, 23%);
  font-style: italic;
  font-weight: 100;
  width: 1000px;
  height: 200px;
  /* Размеры */
  background:ivory;
  /* Цвет фона */
  outline: 2px solid #000;
  /* Чёрная рамка */
  border: 3px solid #fff;
  /* Белая рамка */
  border-radius: 10px;
  /* Радиус скругления */
}

.div1 {
  display: flex;
  flex-direction: column;
  float: right;
  /* Выравнивание по левому краю */
  margin: 10px 10px 10px 0;
  /* Отступы вокруг картинки */
}
.div2 img {
  float: right;
  margin-left: 20px;
}
IMG.displayed1{
  float: right;
  /* Выравнивание по левому краю */
  margin: 10px 10px 10px 30px;
  /* Отступы вокруг картинки */
}

strong {
  color: coral;
  text-decoration: underline;
}

h2 {
  font-size: 22px;
  color: red;
  text-align: center;
}

body {
  background-color: bisque;
}

img.displayed {
  background-image: url("image2.jpeg");
  width: 300px;
  height: 300px;
  float: right;
  /* Выравнивание по левому краю */
  margin: 10px 10px 10px 30px;
  /* Отступы вокруг картинки */
}

.h3s {
  text-align: center;
}
